body {
	background-color: #e5e4e2;
	font-family: 'Nunito', sans-serif;
}


nav  {
	background-color: #848482;
}

nav .brand-logo  , nav a {
	color: #82caff;
	font-size: 2.5rem;
	padding-left: 1rem;
}

.row  {
	height: 28rem;
	width: 100%;
}

.header {
	width: 100%;
	height: 3rem;
	margin-top: 2%;
}

div.head {
	font-size: 1.5rem;
	font-weight: bolder;
	color: #566d7e;
	text-align: center;
}

.tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(43,27,46 , 0.7);
  color: #ffffba;
  border-radius: 2px;
}

.axis line, .axis path {
  fill: none;
  stroke: #566d7e;
  shape-rendering: crispEdges;
}



.axis text , .legend text{
  font: .7rem sans-serif;
  fill: #566d7e;
}

g text{
  font: 1rem sans-serif;
  fill: #566d7e;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}